packages:
    yum:
        freetype-devel: []
        libjpeg-turbo-devel: []
        libpng-devel: []

option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: askdjango.settings.prod
    aws:elasticbeanstalk:container:python:
        WSGIPath: askdjango/wsgi.py

