{% extends "blog/layout.html" %}

{% block content %}
    <form action="" method="get">
        <input type="text" name="query" value="{{ query }}" />
        <input type="submit" value="검색" />
    </form>

    <ul>
    {% for post in post_list %}
        <li>
            <a href="/blog/{{ post.id }}/">
                {{ post.title }}
            </a>
        </li>
    {% endfor %}
    </ul>

    <hr/>

    {% for date in date_list %}
        {% ifchanged %}
            <h3>{{ date|date:"M" }}</h3>
        {% endifchanged %}
        {{ date }}<br/>
    {% endfor %}
{% endblock %}

